import-font(family, files, weight = 400, style = 'normal')
  srcValues = ()

  for fileFormat, fileUrl in files
    append(srcValues, 'url("' + fileUrl + '") format("' + fileFormat + '")')

  @font-face
    font-family family
    src unquote(join(", ", srcValues))
    font-weight weight
    font-style style

fsz(value)
  font-size value px
  font-size unit(value/16, 'rem')

lh(lh, fsz)
  if lh == 'auto'
    line-height 1.2
  else
    line-height floor(lh/fsz, 2)

font(ff = default-ff, fsz = 16, lh = 18, fw = 400, color = text-color, fs = normal)
  font-family ff
  fsz(fsz)
  font-weight fw
  font-style fs
  color color
  lh(lh, fsz)
