import-font(family, files, weight = 400, style = 'normal')
  srcValues = ()

  for fileFormat, fileUrl in files
    append(srcValues, 'url("' + fileUrl + '") format("' + fileFormat + '")')

  @font-face
    font-family family
    src unquote(join(", ", srcValues))
    font-weight weight
    font-style style

fsz(font-size)
  font-size font-size px
  font-size unit(font-size/16, 'rem')

lh(line-height, font-size)
  if line-height == 'auto'
    line-height 1.2
  else
    line-height floor(line-height/font-size, 2)

ff(ff = default-ff)
  font-family ff

fw(font-weight = 400)
  font-weight font-weight

lp(letter-spacing = 0)
  letter-spacing letter-spacing em

font(font-family = default-ff, font-size = 16, line-height = 18, font-weight = 400, color = text-color, letter-spacing = 0,  fs = normal)
  ff(font-family)
  fsz(font-size)
  fw(font-weight)
  lh(line-height, font-size)
  lp(letter-spacing)
  color color
  font-style fs
