/*
  Width
*/

mobile-up()
  +width-up(mobile-breakpoint)
    {block}

tablet-up()
  +width-up(tablet-breakpoint)
    {block}

desktop-up()
  +width-up(desktop-breakpoint)
    {block}

large-up()
  +width-up(large-breakpoint)
    {block}

xlarge-up()
  +width-up(xlarge-breakpoint)
    {block}

xxlarge-up()
  +width-up(xxlarge-breakpoint)
    {block}

width-up(size)
  @media screen and (min-width: size)
    {block}

mobile-down()
  +width-down(mobile-breakpoint - 1px)
    {block}

tablet-down()
  +width-down(tablet-breakpoint - 1px)
    {block}

desktop-down()
  +width-down(desktop-breakpoint - 1px)
    {block}

large-down()
  +width-down(large-breakpoint - 1px)
    {block}

xlarge-down()
  +width-down(xlarge-breakpoint - 1px)
    {block}

xxlarge-down()
  +width-down(xxlarge-breakpoint - 1px)
    {block}

width-down(size)
  @media screen and (max-width: size)
    {block}

/*
  Height
*/

small-height-up()
  +height-up(small-height-breakpoint)
    {block}

medium-height-up()
  +height-up(medium-height-breakpoint)
    {block}

large-height-up()
  +height-up(large-height-breakpoint)
    {block}

height-up(size)
  @media screen and (min-height: size)
    {block}

small-height-down()
  +height-down(small-height-breakpoint - 1px)
    {block}

medium-height-down()
  +height-down(medium-height-breakpoint - 1px)
    {block}

large-height-down()
  +height-down(large-height-breakpoint - 1px)
    {block}

height-down(size)
  @media screen and (max-height: size)
    {block}
