@require '../breakpoints/index.styl'
@require './variables.styl'
@require './mixins.styl'

.l-container
  position relative
  padding-left 30px
  padding-right 30px
  margin-right auto
  margin-left auto
  width 100%
  max-width base-width

  +mobile-up()
    max-width mobile-width

  +tablet-up()
    max-width tablet-width

  +desktop-up()
    max-width desktop-width
    padding-left 0
    padding-right 0

  +large-up()
    max-width large-width

  +xlarge-up()
    max-width xlarge-width

  +xxlarge-up()
    max-width xxlarge-width

  &.u-fh
    height 100%

.l-row
  row()

  &.u-fh
    height 100%

  &.u-start
    justify-content flex-start

  &.u-end
    justify-content flex-end

  &.u-center
    justify-content center

  &.u-sb
    justify-content space-between

  &.u-se
    justify-content space-evenly

  &.u-v-start
    align-items flex-start

  &.u-v-end
    align-items flex-end

  &.u-v-stretch
    align-items stretch

  &.u-v-center
    align-items center

.l-column
  column()

  &.u-grow-0
    flex-grow 0

  &.u-grow-1
    flex-grow 1

  &.u-shrink-0
    flex-shrink 0

  &.u-shrink-1
    flex-shrink 1

  &.u-start
    align-self flex-start

  &.u-end
    align-self flex-end

  &.u-center
    align-self center

  &.u-stretch
    align-self stretch
