row()
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content flex-start
  margin-left -1 * gutter-width
  margin-right -1 * gutter-width

column()
  position relative
  min-height 1px
  padding-right gutter-width
  padding-left gutter-width
  size(columns)

size(size, c = columns)
  if (unit(size) == '%') {
    percentSize = size
  } else {
    percentSize = percentage(size/c)
  }

  flex 0 0 percentSize
  flex-basis percentSize
  width percentSize
  max-width percentSize

max-size(size, breakpoint = last-breakpoint)
  max-width unit(breakpoint * size / columns, 'px')

push(size, c = columns)
  if (unit(size) == '%') {
    percentSize = size
  } else {
    percentSize = percentage(size/c)
  }

  margin-left percentSize

max-push(size, breakpoint = last-breakpoint)
  margin-left unit(breakpoint * size / columns, 'px')
