row()
  display flex
  flex-wrap wrap
  align-items flex-start
  margin-left -1 * gutter-width
  margin-right -1 * gutter-width

column()
  position relative
  min-height 1px
  padding-right gutter-width
  padding-left gutter-width
  size(columns)

size(size, c = columns)
  flex 0 0 percentage(size/c)
  width percentage(size/c)
  max-width percentage(size/c)

max-size(size, breakpoint = last-breakpoint)
  max-width unit(breakpoint * size / columns, 'px')

push(size, c = columns)
  margin-left percentage(size/c)

max-push(size, breakpoint = last-breakpoint)
  margin-left unit(breakpoint * size / columns, 'px')
