row()
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content flex-start
  margin-left -1 * gutter-width
  margin-right -1 * gutter-width

column()
  position relative
  min-height 1px
  padding-right gutter-width
  padding-left gutter-width
  size(columns)

size(value, c = columns)
  if typeof(value) == 'literal'
    size = value
  else if (unit(value) == '%' || unit(value) == 'px')
    size = value
  else if (unit(value) == '')
    size = percentage(value / c)

  flex 0 0 size
  flex-basis size
  width size
  max-width size

max-size(size, breakpoint = last-breakpoint)
  max-width unit(breakpoint * size / columns, 'px')

push(value, c = columns)
  if typeof(value) == 'literal'
    size = value
  else if (unit(value) == '%' || unit(value) == 'px')
    size = value
  else if (unit(value) == '')
    size = percentage(value / c)

  margin-left size

max-push(size, breakpoint = last-breakpoint)
  margin-left unit(breakpoint * size / columns, 'px')
