hidden()
  visibility hidden
  opacity 0

shown()
  visibility visible
  opacity 1

to(left, top, debug = false)
  transform-origin left top

  if debug
    &:after
      content ''
      position absolute
      top top
      left left
      width 5px
      height 5px
      background-color #f0f
      border-radius 50%
      transform translate(-50%, -50%)
