*
  -moz-osx-font-smoothing grayscale

button
  outline none
  cursor pointer
  background none
  border none
  margin 0
  padding 0

a
  text-decoration none
  color #000

*, *:after, *:before
  box-sizing border-box

sup
  vertical-align super

sub
  vertical-align sub

&
  font-size root-font-size px
  font-family default-ff
  font-variant-ligatures no-common-ligatures

main
  overflow hidden
