// Blog Script
@font-face
  font-family BlogScript
  font-style normal
  font-weight 400
  src url(../assets/fonts/BlogScript.otf) format('otf'),
    url(../assets/fonts/BlogScript.woff) format('woff'),
    url(../assets/fonts/BlogScript.woff2) format('woff2'),
    url(../assets/fonts/BlogScript.ttf) format('truetype')

// Bariol
@font-face
  font-family Bariol
  font-style normal
  font-weight 400
  src url(../assets/fonts/Bariol-Regular.otf) format('otf'),
    url(../assets/fonts/Bariol-Regular.woff) format('woff'),
    url(../assets/fonts/Bariol-Regular.woff2) format('woff2'),
    url(../assets/fonts/Bariol-Regular.ttf) format('truetype')

@font-face
  font-family Bariol
  font-style normal
  font-weight 700
  src url(../assets/fonts/Bariol-Bold.otf) format('otf'),
    url(../assets/fonts/Bariol-Bold.woff2) format('woff2'),
    url(../assets/fonts/Bariol-Bold.woff) format('woff')

// Roboto
@font-face
  font-family RobotoC
  font-style normal
  font-weight 700
  src url(../assets/fonts/RobotoCondensed-Bold.ttf) format('truetype'),
    url(../assets/fonts/RobotoCondensed-Bold.woff2) format('woff'),
    url(../assets/fonts/RobotoCondensed-Bold.woff) format('woff2')

@font-face
  font-family RobotoC
  font-style normal
  font-weight 400
  src url(../assets/fonts/RobotoCondensed-Regular.ttf) format('truetype'),
    url(../assets/fonts/RobotoCondensed-Regular.woff) format('woff'),
    url(../assets/fonts/RobotoCondensed-Regular.woff2) format('woff2')

// No way
@font-face
  font-family Noway
  font-style normal
  font-weight 700
  src url(../assets/fonts/NowayRound-Bold.otf) format('opentype'),
    url(../assets/fonts/NowayRound-Bold.woff) format('woff'),
    url(../assets/fonts/NowayRound-Bold.woff2) format('woff2')
