&
  overflow hidden
  position relative
  width 100%

  *
    backface-visibility hidden

  .imageComponent[class*="goutte"], .imageComponent[class*="vague"]
    display none !important

    +large-up()
      display inline-block !important

::selection
  background-color #2e4e7b
  color #FFF
