@import './variables'
@import './easing'
@import './fonts'

#alg {
  @import './reset.css'
  @import './mixins'
  @import './breakpoints'
  @import './grid'

  @import './general'
  @import './custom-reset'

  // @import '../../layout/**/*'
  @import '../../components/**/*'
  @import '../../pages/**/*'
}
