/**

FONTS

**/

arial-ff = Arial, sans-serif

default-ff = arial-ff

/**

GRID

**/

// container widths
base-width = 100%
mobile-width = 100%
tablet-width = 100%
desktop-width = 100%
large-width = 100%
xlarge-width = 100%
xxlarge-width = 1600px

columns = 12
gutter-width = 15px

// breakpoints width
base-breakpoint = 375px
mobile-breakpoint = 576px
tablet-breakpoint = 768px
desktop-breakpoint = 992px
large-breakpoint = 1200px
xlarge-breakpoint = 1440px
xxlarge-breakpoint = 1600px

last-breakpoint = xxlarge-breakpoint

// breakpoints height
small-height-breakpoint = 500px
medium-height-breakpoint = 720px
large-height-breakpoint = 970px
