/**

FONTS

**/

blog-script-ff = 'BlogScript', Arial, sans-serif
bariol-ff = 'Bariol', Arial, sans-serif
roboto-ff = 'RobotoC', Arial, sans-serif
noway-ff = 'Noway', Arial, sans-serif

default-ff = bariol-ff

/**

COLORS

**/


/**

GRID

**/

// container widths
base-width = 100%
mobile-width = 100%
tablet-width = 100%
desktop-width = 100%
large-width = 100%
xlarge-width = 100%
xxlarge-width = 1600px

columns = 20
gutter-width = 0px

// breakpoints
base-breakpoint = 375px
mobile-breakpoint = 576px
tablet-breakpoint = 768px
desktop-breakpoint = 992px
large-breakpoint = 1200px
xlarge-breakpoint = 1440px
xxlarge-breakpoint = 1600px

last-breakpoint = xxlarge-breakpoint

small-height-breakpoint = 500px
medium-height-breakpoint = 720px
large-height-breakpoint = 970px

/**

Z-INDEX

**/
z-index-debug = 2000
z-index-header = 1900
z-index-nav = 1800

/**

SIZES

**/
